# Server Configuration
PORT=5000

# MongoDB Database Connection String
MONGO_URI=mongodb://127.0.0.1:27017/ngo_db

# JWT Secrets for Authentication
ACCESS_TOKEN_SECRET=your_jwt_access_secret_key_here
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key_here
